/* CSS Document */
body {
	margin:0px;
	padding:20px 0px 20px 0px;
	background:#444444;
}

div, p, span, a, ul, ol, li, h1, h2, h3, h4, h5, h6, form {
	margin:0px;
	padding:0px;
}
	
.wrapper {
	margin:0px auto;
	padding:0px;
	background:#FFFFFF;
	width:940px;
	overflow:hidden;
}

.main {
	margin:0px;
	padding:10px 10px 10px 10px;
}

.header {
	margin:0px;
	padding:0px;
	width:920px;
	overflow:hidden;
}

div [class*="banner"] {
	width:920px;
	height:200px;
}

.banner-1 {
	background:url(images/webdev_logo.jpg) no-repeat left top;
}

.banner-2 {
	background:url(images/windows-banner.jpg) no-repeat left top;
}

.home-banner {
	background:url(images/cas-back-268-34.JPG) no-repeat left top;
}	

.mid {
	margin:0px;
	padding:15px 0px 20px 0px;
	width:920px;
	overflow:hidden;
}

.mid-left {
	margin:0px;
	padding:0px 21px 0px 0px;
	width:234px;
	float:left;
}

.mid-right {
	margin:0px;
	padding:0px 0px 0px 0px;
	width:665px;
	float:left;
}

.large-font {
  font-size:13.5pt;
  color:#408080;
}

.bold {
  font-weight:bold;
}

.container {
  overflow: hidden;
}

.column {
  float: left;
  margin: 20px;
}

h1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	text-decoration:underline;
  background-color:rgb(249,214,22);
	color:#08088A;
	font-weight:normal;
	line-height:24px;
  margin-bottom:20px;
}

h2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	text-decoration:none;
  background-color:rgb(249,214,22);
	color:gray;
	font-weight:bold;
	line-height:20px;
}

.gap-1 {
	margin:0px;
	padding:0px 0px 20px 0px;
}

.gap-2 {
	margin:0px;
	padding:0px 0px 15px 30px;
}

p.txt-1 {
	margin:0px;
	padding:0px 0px 20px 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#323232;
	font-weight:normal;
	line-height:16px;
}

ul.list {
  margin-left:30px;  
}

ul.left-nav {
	margin:0px;
	padding:0px 0px 20px 0px;
	list-style:none;
	border-top:1px solid #ececec;
}

ul.left-nav li {
	margin:0px;
	padding:10px 0px 10px 30px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#323232;
	font-weight:normal;
	line-height:15px;
	display:block;
	border-bottom:1px solid #ececec;
	border-left:5px solid #ececec;
}

ul.left-nav li a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:underline;
	color:#323232;
	font-weight:normal;
}

ul.left-nav li:hover {
	cursor: pointer;
}

ul.left-nav li a:hover {
	text-decoration:none;
	color:#323232;
	font-weight:normal;
}
	
.footer {
	margin:0px;
	padding:0px;
	width:940px;
	overflow:hidden;
	background:#4ba5da;
}

p.copyright {
	margin:0px;
	padding:10px 0px 10px 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#000000;
	font-weight:normal;
	text-align:center;
	line-height:12px;
}

.button {
  background-image: -webkit-linear-gradient(top, white, #d6d6d6);
  background-image: linear-gradient(to bottom, white, #d6d6d6);
  margin: 0;
  display: inline-block;
  color: #373737;
  font-weight: bold;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  line-height: 1em;
  padding: .5em .8em;
  cursor: pointer;
  border: 1px solid #ababab;
  background-color: #eaeaea;
  border-radius: 4px;
  text-shadow: 0px -1px 1px rgba(255, 255, 255, 0.75);
}

.clear {
  clear:both;
}

// Surgical classes

.ptn, .pvn, .pan { padding-top: 0px !important }
.pts, .pvs, .pas { padding-top: 5px !important }
.ptm, .pvm, .pam { padding-top: 10px !important }
.ptl, .pvl, .pal { padding-top: 20px !important }
.prn, .phn, .pan { padding-right: 0px !important }
.prs, .phs, .pas { padding-right: 5px !important }
.prm, .phm, .pam { padding-right: 10px !important }
.prl, .phl, .pal { padding-right: 20px !important }
.pbn, .pvn, .pan { padding-bottom: 0px !important }  
.pbs, .pvs, .pas { padding-bottom: 5px !important }
.pbm, .pvm, .pam { padding-bottom: 10px !important }
.pbl, .pvl, .pal { padding-bottom: 20px !important }
.pln, .phn, .pan { padding-left: 0px !important }
.pls, .phs, .pas { padding-left: 5px !important }
.plm, .phm, .pam { padding-left: 10px !important }
.pll, .phl, .pal { padding-left: 20px !important }
.mtn, .mvn, .man { margin-top: 0px !important }
.mts, .mvs, .mas { margin-top: 5px !important }
.mtm, .mvm, .mam { margin-top: 10px !important }
.mtl, .mvl, .mal { margin-top: 20px !important }
.mrn, .mhn, .man { margin-right: 0px !important }
.mrs, .mhs, .mas { margin-right: 5px !important }
.mrm, .mhm, .mam { margin-right: 10px !important }
.mrl, .mhl, .mal { margin-right: 20px !important }
.mbn, .mvn, .man { margin-bottom: 0px !important }
.mbs, .mvs, .mas { margin-bottom: 5px !important }
.mbm, .mvm, .mam { margin-bottom: 10px !important }
.mbl, .mvl, .mal { margin-bottom: 20px !important }
.mln, .mhn, .man { margin-left: 0px !important }
.mls, .mhs, .mas { margin-left: 5px !important }
.mlm, .mhm, .mam { margin-left: 10px !important }
.mll, .mhl, .mal { margin-left: 20px !important }

@keyframes domChanged { from { background: yellow; } }
@-webkit-keyframes domChanged { from { background: yellow; } }
.ember-view { animation: domChanged 1s; -webkit-animation: domChanged 1s; }
