  <ul class="list">
    <li><a href="http://www.cs.uakron.edu/~xiao/lab-use.html">Tips on Lab Computer Usage</a></li>
    <li><a href="https://springboard.uakron.edu/index.asp">SpringBoard</a></li>
    <li><a href="http://www.cs.uakron.edu/~xiao/msdnaa.html">Free Microsoft Software</a></li>
    {{#each references}}
    <li><a {{bindAttr href="url"}}>{{name}}</a></li>
    {{/each}}
  </ul>
