  <ul class="list">
<li><a href="assets/WP/slides/Chapter 3 - Core CSharp.pdf">Chapter 3 - Core CSharp</a></li>
    {{#each}}
    <li><a {{bindAttr href="url"}}>{{name}}</a></li>
    {{/each}}
  </ul>
