<h1><b>{{lname}}</b></h1>
<ul style="list-style-type:none; margin:0;padding:0;">
  <li class="button mrm">{{#link-to 'course.books'}}Books{{/link-to}}</li>
  <li class="button mrm">{{#link-to 'course.slides'}}Slides{{/link-to}}</li>
  <li class="button mrm">{{#link-to 'course.demos'}}Demos{{/link-to}}</li>
  <li class="button mrm">{{#link-to 'course.assignments'}}Assignments{{/link-to}}</li>
  <li class="button">{{#link-to 'course.references'}}References{{/link-to}}</li>
</ul>

<div class="txt-1">
  <br />
  {{outlet}}
</div>

