<div class="container">

  <div class="column">
    <img width="275" height="340" id="_x0000_i1025" src="assets/images/ejh_255.jpg">
  </div>

  <div class="column">
    <p>
      <span class="large-font bold">Edward Heyne</span> <br>
      <span class="large-font">Associate Instructor</span> <br>
      <a href="http://www.uakron.edu/computer-science">Department of Computer Science</a><br>
      <a href="http://www.uakron.edu/"><span class="GramE">The</span> University of Akron</a> <br>
      <a href="http://www.ci.akron.oh.us/">Akron,</a> <a href="http://www.ohio.gov/">OH</a><a href="http://www.ohio.gov/"> 44325-4003</a>
    </p>

    <div align="center" style="text-align:center">
      <hr size="2" width="100%" align="center">
    </div>

    <p><span class="large-font bold">Office:&nbsp;</span><a href="http://www.uakron.edu/bcas/">
    <span>CAS</span></a><span> 233 <br>
    <b><span style="color:teal">E-Mail: </span></b></span>
    <a href="mailto:eheyne@zips.uakron.edu"><span style="mso-ansi-language:FR">eheyne@zips.uakron.edu</span></a> </p>

    <div class="MsoNormal" align="center" style="text-align:center">
      <hr size="2" width="100%" align="center">
    </div>

    <p><a href="http://www.uakron.edu"><img border="0" width="204" height="167" src="assets/images/uakronsg.gif" align="middle"></a></p>
  </div>
</div>

